body {
  padding-top: 70px;
}

.navbar-right {
  margin-right: 0px;
}

.user-lr-form {
  float: none;
  margin: 0 auto;
}

.task-list {
  margin-top: 20px;
}

.edit-task-butt {
  float: left;
}

.delete-task-form {
  float: right;
}
